{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
  <div class="container">	
  <h1 class="display-4"><strong>EDUCATION</strong></h1>
  <h2 class="lead" style="color:#7851a9"><strong>KONGUNADU COLLEGE OF ENGINEERING AND TECHNOLOGY</strong></h2>
  <p class="lead" style="color:#66695c"><strong>COMPUTER SCIENCE & ENGINEERING</strong></p>
  <p><strong>GPA : 9.2 (upto 2 sem)</strong></p>
  <p style="color:#949494"><strong>Present studying</strong></p>
  <hr class="my-4">

  <h2 class="lead" style="color:#7851a9"><strong>SAVITRI VIDYASALA HINDU GIRLS HIGHER SECONDARY SCHOOL</strong></h2>
  <p class="lead" style="color:#66695c"><strong>HSC EDUCATION</strong></p>
  <p><strong>GPA : 8.2</strong></p>
  <p  style="color:#949494"><strong>June 2018 - March 2019</strong></p>
  <hr class="my-4">

  <h2 class="lead" style="color:#7851a9"><strong>SAVITRI VIDYASALA HINDU GIRLS HIGHER SECONDARY SCHOOL</strong></h2>
  <p class="lead" style="color:#66695c"><strong>SSLC EDUCATION</strong></p>
  <p><strong>GPA : 9.5</strong></p>
  <p  style="color:#949494"><strong>June 2016 - March 2017</strong></p>
  <hr class="my-4">

  <h1 class="display-4"><strong>SKILLS</strong></h1>
  <P class="lead" style="color:#7851a9"><strong>PROGRAMMING LANGUAGES</strong></P>
  <p style="color:#66695c"><strong>C Programming</strong></p>
  <p style="color:#66695c"><strong>Python</strong></p>
  <hr class="my-4">

  <h1 class="display-4"><strong>WEB DEVELOPMENT INTERNSHIP</strong></h1>
  <P class="lead" style="color:#7851a9"><strong>FOURSTEPS SOLUTIONS</strong></P>
  <p style="color:#66695c"><strong>learnt about how to develop website in python using Django and developed a website.</strong></p>
  <p style="color:#949494"><strong>August 2020</strong></p>
  <br>
  <br>
  <br>
</div>


{% endblock%}