{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
  <div class="container">	
  <h1 class="display-4"><strong>Hi!</strong></h1>
  <h2 class="display-4" style="color:#7851a9">I am Anjana</h2>
  <p class="lead" style="color:#66695c"><strong>TRICHY, TAMILNADU, INDIA</strong></p>
  <p style="color:#949494"><strong>I am a second year Engineering student. </strong></p>
  <a class="btn btn-secondary btn-lg" href="/contact" role="button">Contact Me!</a>
  <hr class="my-4">
  <br>
  <br>
</div>



{% endblock%}